@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html{
    filter: saturate(125%);
}
body{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    align-items: center;
    flex-direction: column;

}
video{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  z-index: -1;

}
header{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.signup-text{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.underline{
    content: "";
    width: 200px;
    height: 6px;
    background-color: white;
    margin-top: -30px;
    position: relative;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.login-text{
    cursor: pointer;
}
h1{
    margin: 25px auto;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
}


.details{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 30px;
    border: none;
    flex-shrink: 0;
    flex-basis: 1;
    width: 850px;
    justify-content: center;
    margin-top: 20px;
}

.details > div{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
}

input{
    width: 280px;
    height: 40px;
    margin-bottom: 100px;
    backdrop-filter: blur(40px);
    border-radius: 2px;
    background-color: rgba(60,60,60, 0.1);
    border-top: 0.5px solid white;
    border-left: 0.5px solid white;
    border-right: none;
    border-bottom: none;
    color: white;
    padding: 5px;
    font-size: 26px;
}

input:last-child{
    margin-bottom: 90px;
}

#form{
    transition-delay: 1s;
    transition: 10s ease-in-out;
}
.signup-box{
     height: 600px;
    width: 850px;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 25px 30px -10px rgba(50,50,50,0.7);
    background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  transition: 0.4s ease-in-out;
}

label{
    color: white;
    margin-bottom: 5px;
}

button{
    position: absolute;
    bottom: 25px;
    height: 50px;
    width: 200px;
    margin-top: -30px;
    border-radius: 4px;
    border:none;
    background-color: #9911fa;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 2px 7px 20px -3px rgba(20,20,20, 0.7);
}

button:active{
    transform: translateX(2.5px) translateY(2.5px);
    box-shadow: none;
    opacity: 0.7;
}

.login-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form{
 display: none;
 
}

@media only screen and (max-width: 700px) {
  .signup-box{
    width: 80vw;
    height: fit-content
    }
    h1{
        font-size: 30px;
        margin: 10px;
    }
    .details{
        display: flex;
        width: 80vw;
        height: fit-content;
    }

    input{
        margin-bottom: 10px;
    }

    fieldset > div{
        height: 100px;
    }
    button{
        height: 36px;
        margin-top: -30px;
        margin-bottom: 25px;
    }
}